.advantages
    .advantages__text 
        .advantages__text-title Наши преимущества
        .advantages__text-subtitle ПОЧЕМУ <strong>МЫ
    .services
        .services__title 
            .services__title-img 
                img(src="../img/time.svg", alt="")
            .services__text 
                .services__text-title Быстро
                .services__text-subtitle Мы ценим Ваше время.Многолетний успешный опыт работы с ведущими мировыми производителями позволил нам сделать выбор самого лучшего из представленного на рынке оборудования с редкими высочайшими скоростными характеристиками.
        .services__title
            .services__title-img 
                img(src="../img/money .svg", alt="")
            .services__text 
                .services__text-title Недорого
                .services__text-subtitle Мы заботимся о Вашей прибыли.Четко отлаженные производственные процессы, качественное и скоростное оборудование способствуют экономии времени на выполнении каждого заказа, что позволяет нам предлагать низкую цену, не снижая качества. 
        .services__title 
            .services__title-img 
                img(src="../img/medal.svg", alt="")
            .services__text 
                .services__text-title Качественно
                .services__text-subtitle Мы дорожим Вашей репутацией.Когда обсуждают скорость, качество и цену, предлагают выбрать любые два пункта. В нашем случае не так - мы производим продукцию высочайшего качества, в кратчайшие сроки и по низким ценам.            
    .advantages__printing
        .advantages__printing-text
            .advantages__printing-p Услуги печати
            .advantages__printing-text1 ЛАТЕКСНАЯ
            .advantages__printing-text2 ПЕЧАТЬ
            .advantages__button
                .advantages__button-text оставить заявку
        .advantages__title 
            .advantages__subtitle 
                img(src="img/picture.png", alt="")