.cost
    .cost__text
        .cost__text-title КАК РАССЧИТАТЬ <strong> СТОИМОСТЬ
        .cost__text-subtitle ЧТОБЫ УЗНАТЬ СТОИМОСТЬ ЗАКАЗА, ВОСПОЛЬЗУЙТЕСЬ КАЛЬКУЛЯТОРОМ ИЛИ ПОЗВОНИТЕ НАМ.
    .cost__fon
        .menu__cost
            nav.cost__menu
                ul.cost__list
                    li.cost__item
                        a.cost__link(href="")  Широкоформатная печать
                    li.cost__item
                        a.cost__link(href="")  Латексная печать
                    li.cost__item
                        a.cost__link(href="")  Сувенирная печать
            .calculator__conteiner
                .calculator__text
                    .calculator__calculator Калькулятор
                    .calculator__print УФ-ПЕЧАТИ
                    .calculator__order ПРОСЧИТАЙТЕ СВОЙ ЗАКАЗ САМОСТОЯТЕЛЬНО
                .fill
                    .material
                        .material__title Материал
                        .material__subtitle ПВХ Вспененный 3 мм 
                    .size
                        .size__text Размеры, см
                        .size__search
                            .size__input
                                input(name="s" placeholder="" type="search")
                        .size__text X
                        .size__search
                            .size__input
                                input(name="s" placeholder="" type="search")
                        
                    .stamp
                        .cmyk
                            label.label
                                input(type="checkbox" class="checkbox")
                                span.fake
                                span.text Печать CMYK
                            label.label
                                input(type="checkbox" class="checkbox")
                                span.fake
                                span.text Печать CMYK
                            label.label
                                input(type="checkbox" class="checkbox")
                                span.fake
                                span.text Печать CMYK
                    .circulation
                        .circulation__text Тираж
                        .circulation__title
                            .circulation__plus
                                .circulation__plus-title 
                                .circulation__plus-subtitle
                            .circulation__search
                                .circulation__input
                                    input(name="m" placeholder="" type="search")
                            .circulation__minus 
                                .circulation__minus-title
                    .stamp
                        .cmyk
                            label.label
                                input(type="checkbox" class="checkbox")
                                span.fake
                                span.text Контурная резка
                            label.label
                                input(type="checkbox" class="checkbox")
                                span.fake
                                span.text Двухсторонняя печать
                            //- .cmyk__title
                            //-     input(type="checkbox" id="horns" name="horns") 
                            //-     .cmyk__text Контурная резка
                            //- .cmyk__title
                            //-     input(type="checkbox" id="horns" name="horns") 
                            //-     .cmyk__text Двухсторонняя печать
                    .buy
                        .buy__price Цена
                        .buy__figure 1000
                        .buy__rub руб.
                    .buy__button
                        .buy__button-title Заказать звонок