footer.footer
    .menu__footer
    .footer__stripe
        nav.footer__menu
            ul.footer__list
                li.footer__item
                    a.footer__link(href="")  Виды печати
                li.footer__item
                    a.footer__link(href="")  Цена печати
                li.footer__item
                    a.footer__link(href="")  Услуги
                li.footer__item
                    a.footer__link(href="")  Контакты
                li.footer__item
                    a.footer__link(href="")  Прайс лист