.menu
    nav.nav__menu
        ul.menu__list
            li.menu__item
                a.menu__link(href="")  Виды печати
            li.menu__item
                a.menu__link(href="")  Цена печати
            li.menu__item
                a.menu__link(href="")  Услуги
            li.menu__item
                a.menu__link(href="")  Контакты
            li.menu__item
                a.menu__link(href="")  Прайс лист
