.remained
    .advantages__text 
        .advantages__text-title Остались вопросы ?
        .advantages__text-subtitle ОТВЕТИМ НА <strong>ВСЕ ВОПРОСЫ
    .form
        .form__name
            input(type="text" placeholder="Ваше имя")
        .form__mail 
            input(type="email" placeholder="Телефон или E-Mail")
    .form__message
        .form__message-title
            textarea(name="", cols="30", rows="10" placeholder="Сообщение")
    .advantages__buttom 
        .advantages__buttom-text Отправить сообщение
    .advantages__printing
        .advantages__title 
            .advantages__subtitle 
                img(src="img/cup.png", alt="")
        .advantages__printing-text
            .advantages__printing-p Услуги печати
            .advantages__printing-text1 СУВЕНИРНАЯ
            .advantages__printing-text2 ПЕЧАТЬ
            .advantages__button
                .advantages__button-text оставить заявку
        