.service 
    .service__title 
        .service__subtitle 
            img(src="img/printer.png", alt="")
    .printing
        .printing__text
            .printing__p Услуги печати
            .printing__text1 ШИРОКОФОРМАТНЯ
            .printing__text2 ПЕЧАТЬ
            .button
                .button__text оставить заявку
        
