.work
    .advantages__text 
            .advantages__text-title Наши работы
            .advantages__text-subtitle В <strong> INSTAGRAM
    .work__img 
        img(src="img/plane1.png", alt="")
        img(src="img/flowers2.png", alt="")
        img(src="img/butterfly3.png", alt="")
        img(src="img/arm4.png", alt="")
        img(src="img/fish5.png", alt="")
        img(src="img/room6.png", alt="")
        img(src="img/circulation7.png", alt="")
        img(src="img/drip8.png", alt="")
    .stripe