html
	head
		link(rel="stylesheet" href='css/style.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body

		.wrapper
			include html/menu
			include html/service
			include html/cost
			include html/advantages
			include html/remained
			include html/work
			include html/footer





		script(src='js/app.min.js')