$white-color: #FFFFFF;
$red-color: #EC482F;
$black-color: #000000;
$yellow-color: yellow;
$purple-color: purple;
$pink-color: #C828A0;
$textsubtitle-color: #0C0C0C;
$whitesmoke-color: #F7F7F7;
$skyblue-color: #59C2FF;
$gray-color: #EBEBEB;


$Rubik-Regular: 'Rubik-Regular400', 'Arial', 'San-serif';
$Rubik-Medium: 'Rubik-Medium500', 'Arial', 'San-serif';
$Rubik-Bold: 'Rubik-Bold700', 'Arial', 'San-serif';
$Pacifico-Regular: 'Pacifico-Regular400', 'Arial', 'San-serif';


$sSize: 12px;
$mediumSize: 48px;
$textSize: 15px;
$titleSize: 16px;
$boldSize: 20px;
$regularSize: 18px;
$headingSize: 77px;


$fontWeight: 400;
$mediumWeight:500;
$boldWeight: 700;